<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.loan.loan.mapper.LoanMapper">

    <select id="selectEmpByEmpNo" resultType="Emp">
        SELECT EMPNO
              ,EMPNAME
          FROM EMP
        WHERE EMPNO = #{empNo}
    </select>

    <select id="selectAllEmps" resultType="Emp">
        SELECT EMPNO
              ,EMPNAME
        FROM EMP
    </select>

    <insert id="insertEmp" parameterType="com.loan.loan.domain.Emp">
        INSERT INTO EMP (EMPNO, EMPNAME)
        VALUES (#{empNo}, #{empName})
    </insert>

</mapper>