<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container">

    <form action="/emp/new" method="post">
        <div class="form-group">
            <label for="empno">행번</label>
            <input type = "text" id="empno" name="empNo" placeholder="행번을 입력하세요">
            <label for="empname">이름</label>
            <input type = "text" id="empname" name="empName" placeholder="이름을 입력하세요">
        </div>
        <button type="submit">등록</button>
    </form>

</div>

</body>
</html>